.css-items {
  display: grid;
  margin: 15px;
}
.css-item {
  padding: 0.9rem 1.05rem 0.9rem 0.6rem;
}
.css-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a.css-item.css-item-active {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  background: #f2f3f7;
  border-radius: 4px;
}
.kt-widget.kt-widget--user-profile-1
  .kt-widget__body
  .kt-widget__items
  .kt-widget__item:hover
  .kt-widget__desc {
}
#webpack-dev-server-client-overlay {
  display: none;
}
.tbodyobjectSorter {
  align-items: center;
}
